{% extends "learning_logs/base.html" %}<!-- inherits from base template-->
{% load bootstrap4 %}

{% block page_header %}
 <h3> Add a new topic </h3>
{% endblock page_header %}


{% block content %}


 <form method='post' action= "{% url 'learning_logs:new_topic' %}" class="form" ><!--tells the brosewer where to send the data
	 send it back to the view funtion as a POST request -->
  {% csrf_token %}<!-- for security against cross-site request forgery attack-->
  {% bootstrap_form form %}
  <!-- {{ form.as_p}}shows the form-->
  
  {% buttons %}
   <button name="submit" class="btn btn-primary"> Add Topic</button><!--submit button -->
  {% endbuttons %}
  
  
 </form>
{% endblock content %}
<!-- -->
